:root {
    --bg: #007e1b;
    --title: black;
    --bcolor: #00ad26;
    --col1: black;
    --col2: white;
    --titlefont: 'Titan One';
}
[data-theme="bloodbath"] {
    --bg: #202020;
    --title: var(--col2);
    --bcolor: #ff0000;
    --col1: #000000;
    --col2: white;
}
body {
    background-color: var(--bg);
    overflow-x: hidden;
}
.title {
    text-align: center;
    color: var(--title);
    font-family: var(--titlefont);
    font-size: 60px;
    font-weight: 200;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    animation-name: "titleanim";
    animation-duration: 2s;
    left: 50%; top: 0%;
}
.subtitle {
    text-align: center;
    color: var(--col1);
    font-family: var(--titlefont);
    font-size: 45px;
    font-weight: 200;
    margin-top: 5px;
}
.boxtext {
    text-align: center;
    color: var(--col1);
    font-family: var(--titlefont);
    font-size: 30px;
    font-weight: 200;
    margin-top: -20px;
}
/*
@keyframes titleanim {
    0% {
        transform: translate(-50%, 50%) scale(0.5); 
}
}
*/
.flex {
    display: flex;
}
.side {
    flex: 2;
}
.center {
    flex: 5;
}
.box {
    border: 10px solid black;
    border-radius: 30px;
    height: 200px;
    position: relative;
    right: -50px;
    margin-bottom: 40px;
    background-color: var(--bcolor);
    box-shadow: 30px 30px 0px rgba(0, 0, 0, 0.5);
    animation-name: "boxanim";
    animation-duration: 2s;
    display: flex;
}
/*
@keyframes boxanim {
 
 0% {
        transform: translate(50%);
    }
}
    */ 
#round {
    border-radius: 10px;
    margin: 10px;
}
#sub {
    width: 450px;
    flex-direction: column;
}
.sidebar {
    border: 10px solid black;
    border-radius: 30px;
    height: 1000px;
    min-width: 300px;
    width: 600px;
    margin-left: -100px;
    margin-right:100px;
    background-color: var(--bcolor);
    box-shadow: -30px 30px 0px rgba(0, 0, 0, 0.5);
    animation-name: "boxanim";
    animation-duration: 2s;
    text-align: center;
    position: fixed;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--col2);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
    color: var(--col2);
}
legend {
    text-align: center;
    color: var(--col1);
    font-family: var(--titlefont);
    font-size: 45px;
    font-weight: 200;
    margin-top: 5px;
}
select {
    text-align: center;
    color: var(--col1);
    font-family: var(--titlefont);
    font-size: 30px;
    font-weight: 200;
    margin-top: 5px;
    border-radius: 10px;
    border: 5px solid var(--col1);
}